@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:ital,wght@0,400;1,400&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spline-Sans', Helvetica, sans-serif;
}

body {
  background-color: #f6f6f4;

}


.app-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}


.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #EBEBEB;
  display: flex;
  flex-direction: column;
  height: 900px;
}


.logo {
  margin-bottom: 24px;
}

.logo-img img {
  max-width: 140px;
  height: auto;
}


.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 24px;
  cursor: pointer;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info .name {
  font-family: 'Spline-Sans';  
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
}

.user-info span {
  font-size: 12px;
  color: #777;
}

.dropdown-icon {
  font-size: 14px;
  color: #777;
}


.menu {
  margin-bottom: 20px;
}

.menu a {
  display: flex;
  align-items: center;             
  gap: 10px;
  padding: 10px 12px;
  margin-bottom: 6px;
  text-decoration: none;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 400;
  font-style: normal;               
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #626D82;
  border-radius: 6px;
}


.menu a img {
  width: 18px;
  height: 18px;
}

.menu a.active,
.menu a:hover {
  background-color: #D3F7B5;
  color: #1F4451;
}


.help-box {
  margin-top: auto;
  padding: 16px;
  border-radius: 10px;
}

.help-icon img {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
}

.help-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.help-text {
  font-size: 13px;
  color: #555;
  margin-bottom: 12px;
  line-height: 1.4;
}

.help-box button {
  padding: 8px 14px;
  background-color: #1F4451;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}


.main-content {
  padding: 30px;
}



.breadcrumb {
  display: flex;
  align-items: center;       
  gap: 6px;
  font-family: 'Spline Sans', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 16px;
}

.breadcrumb .separator img {
  width: 14px;
  height: 14px;
  display: block;            
}

.breadcrumb .current {
  color: #2c6e6f;
  font-weight: 500;
}



.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-header h1 {
  font-family: 'Zin Display', 'Spline Sans', sans-serif;
  font-weight: 600;
  font-style: normal;       
  font-size: 33px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1f1f1f;
}



.search-box {
  position: relative;
  width: 260px;
}

.search-box input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: #B5BDCD;
  font-family: 'Spline Sans', sans-serif;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
}


.documents-grid {
  width: 100%;              
  max-width: 1084px;        
  height: 571px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #dcdcdc;
  opacity: 1;
  margin-top: 20px;
}


.documents-grid {
  padding: 16px;
  overflow-y: auto;        
}


.documents-grid {
  background: #ffffff;
  border: 0.5px solid #e4e7ec;
  border-radius: 8px;
  width: 100%;
  max-width: 1084px;
  overflow: hidden;
}


.doc-grid {
  display: grid;
  grid-template-columns: 
    70px      
    3fr       
    1.5fr   
    1.5fr     
    1.3fr    
    40px;     
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}


.doc-grid.header {
  height: 52px;
  font-size: 14px;
  font-weight: 600;
  color: #2A2A2A;
  border-bottom: 1px solid #eaecf0;
}


.doc-grid.row {
  height: 72px;
  font-size: 16px;
  border-bottom: 1px solid #f2f4f7;
}

.doc-grid.row:last-child {
  border-bottom: none;
}


.checkbox-cell {
  display: flex;
  align-items: center;
  gap: 10px;
  
}


.doc-name {
  font-weight: 600;
  color: #436d7c;
}


.date {
  font-size: 16px;
  color: #626D82;
  font-weight: 500;
}

.date span {
  font-size: 13px;
  color: #626D82;
}

.status {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
}

.status.signing {
  background-color: #436d7c;
  color: #ffffff;
}

.person{
  color:#1F4451;
}

.action-btn {
  width: 130px;                
  height: 36px;                
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background-color: #ffffff;
  color: #626d82;
  cursor: pointer;
  white-space: nowrap;          
}


.action-btn.primary {
  color: #436d7c;
  border-color: #b5bdcd;
}


.action-btn.secondary {
  color: #626d82;
}


.more img {
  cursor: pointer;
}


.more {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;  
}


.status.pending {
  background-color: #E8ECF1;
  color: #626D82;
}

.status.completed {
  background-color:  #D3F7B5;
  color: #1F4451;
}


.status-sub {
  font-size: 12px;
  color: #8a94a6;
  margin-top: 4px;
}


.action-btn.secondary {
  background-color: #ffffff;
  color: #626d82;
  border: 1px solid #b5bdcd;
}
