@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:ital,wght@0,400;1,400&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spline-Sans', Helvetica, sans-serif;
}

body {
  background-color: #f6f6f4;

}


.app-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}


.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #EBEBEB;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}




.logo {
  margin-bottom: 24px;
}

.logo-img img {
  max-width: 140px;
  height: auto;
}


.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 24px;
  cursor: pointer;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar img {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  object-fit: cover;
}

.user-info .name {
  font-family: 'Spline-Sans';  
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
}

.user-info span {
  font-size: 12px;
  color: #777;
}

.dropdown-icon {
  font-size: 14px;
  color: #777;
}


.menu {
  margin-bottom: 20px;
}

.menu a {
  display: flex;
  align-items: center;             
  gap: 10px;
  padding: 10px 12px;
  margin-bottom: 6px;
  text-decoration: none;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 400;
  font-style: normal;               
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #626D82;
  border-radius: 6px;
}


.menu a img {
  width: 18px;
  height: 18px;
}

.menu a.active,
.menu a:hover {
  background-color: #D3F7B5;
  color: #1F4451;
}


.help-box {
  margin-top: auto;
  padding: 16px;
  border-radius: 10px;
}

.help-icon img {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
}

.help-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.help-text {
  font-size: 13px;
  color: #555;
  margin-bottom: 12px;
  line-height: 1.4;
}

.help-box button {
  padding: 8px 14px;
  background-color: #1F4451;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}


.main-content {
  padding: 0 20px;
  max-width:1084px;
  margin: 40px auto;

}



.breadcrumb {
  display: flex;
  align-items: center;       
  gap: 6px;
  font-family: 'Spline Sans', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 16px;
}

.breadcrumb .separator img {
  width: 14px;
  height: 14px;
  display: block;            
}

.breadcrumb .current {
  color: #2c6e6f;
  font-weight: 500;
}



.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.page-header h1 {
  font-family: 'Zin Display', 'Spline Sans', sans-serif;
  font-weight: 600;
  font-style: normal;       
  font-size: 33px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1f1f1f;
}

.header-right {
   display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.page-header .action-btn {
  min-width: 90px;
  height: 36px;
}


.search-box {
  position: relative;
  width: 260px;
  max-width: 100%;
}


.search-box input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: #B5BDCD;
  font-family: 'Spline Sans', sans-serif;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
}



.documents-grid {
  width: 100%;
  max-width: 1084px;
  height: auto;
  max-height: 430px;
  background: #ffffff;
  border: 0.5px solid #e4e7ec;
  border-radius: 8px;
  padding: 25px;
  margin-top: 40px;
  box-sizing: border-box;
}


.documents-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


.documents-table th {
  height: 44px;                 
  font-size: 13px;               
  font-weight: 600;
  color: #2a2a2a;
  text-align: left;
  border-bottom: 1px solid #eaecf0;
  padding: 0 10px;
}


.documents-table tbody tr {
  height: 56px;                 
  border-bottom: 1px solid #f2f4f7;
}

.documents-table tbody tr:last-child {
  border-bottom: none;
}


.documents-table td {
  padding: 0 10px;              
  vertical-align: middle;
  font-size: 14px;               
}


.col-check { width: 60px; }

.documents-table th:nth-child(2),
.documents-table td:nth-child(2) { width: 36%; }

.documents-table th:nth-child(3),
.documents-table td:nth-child(3) { width: 18%; }

.documents-table th:nth-child(4),
.documents-table td:nth-child(4) { width: 18%; }

.documents-table th:nth-child(5),
.documents-table td:nth-child(5) { width: 16%; }

.documents-table th:nth-child(6),
.documents-table td:nth-child(6) { width: 6%; }

/* ================= CONTENT STYLES ================= */

.doc-name {
  font-weight: 600;
  font-size: 14px;
  color: #436d7c;
}

.date {
  font-size: 14px;
  color: #626d82;
  font-weight: 500;
}

.date span {
  font-size: 12px;
  color: #626d82;
}



.status {
  display: inline-block;
  padding: 6px 12px;            
  border-radius: 14px;
  font-size: 11px;
  font-weight: 500;
}

.status.signing {
  background: #436d7c;
  color: #ffffff;
  height:26px;
  width: 120px;
  align-content: center;
  text-align: center;
}

.status.pending {
  background: #e8ecf1;
  color: #626d82;
}

.status.completed {
  background: #d3f7b5;
  color: #1f4451;
}

.status-sub {
  font-size: 11px;
  color: #8a94a6;
  padding-top: 2px;
}



.action-btn {
  width: 120px;                  
  height: 32px;                  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;

  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background: #ffffff;
  color: #626d82;
  cursor: pointer;
  white-space: nowrap;
}



.more-cell {
  text-align: right;
  vertical-align: middle;
}


.more-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.more-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn:hover {
  background-color: #f2f4f7;
}

.more-btn img {
  width: 16px;
  height: 16px;
}



.more-dropdown {
  position: absolute;
  top: 38px;
  right: 0;

  width: 120px;
  background: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

  display: none;
  flex-direction: column;
  z-index: 10;
}


.more-wrapper:hover .more-dropdown {
  display: flex;
}


.more-dropdown button {
  padding: 10px 14px;
  font-size: 13px;
  font-family: 'Spline Sans', sans-serif;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #2a2a2a;
}

.more-dropdown button:hover {
  background-color: #f2f4f7;
}


.more-dropdown .delete {
  color: #d92d20;
}

